/* This file is me playing around */
/* Only looks good for index.html */

body {
    background-color: #fff3f9;
}

.post-area {
    height: 118vh;
    width: 80vw;
    background-color: #FFD5EA;
    border-left: 2px solid #FFD5EA;
    border-right: 2px solid #ff0080;
    border-bottom: 2px solid #ff0080;
}

.title-text {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    height: 23vh;
    margin-top: 15px;
    border-top: 2px solid #FFD5EA;
    background-color: #FF77BB;
    background-image: url("../Images/top_test.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.post {
    height: 88vh;
    margin: 20px;
    background-color: #FFD5EA;
    overflow: auto;
}