
/* Type Selector */

body {
    margin: 0%;
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: larger;
    background-color: #ffb5d3;
    height: 130px;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffe6f0;
    height: 60px;
    font-weight: bold;
    font-size: large;
}

 /* Reference: https://www.w3.org/Style/Examples/007/figures.en.html */
.figure {
    float: left;
    width: 35%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
}

/* universal */

.post-area {
    border-bottom: 10px solid #ffb5d3;
    border-right: 10px solid #ffb5d3;
    border-top: 10px solid #fff3f9;
    border-left: 10px solid #fff3f9;
    margin: 30px;
    padding: 30px;
    background-color: #ffe6f0;
}

.title {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffb5d3;
}

.post {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff3f9;
}

/* id */

#header-text {
    padding: 1px;
}

/* Reference: https://www.w3schools.com/css/css_table.asp */
#ending-table table {
    text-align: left;
}

#ending-table td, #ending-table th {
    border: 1px solid #ffb5d3;
    padding: 8px;
}

#ending-table th {
    background-color: #ffb5d3;
}

#ending-table tr {
    background-color: #ffe6f0;
}

/* forms */

.form-area {
    text-align: center;
    margin: 20px;
}

.form-type {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    width: 30vw;
    border-top: 15px solid #ffb5d3;
    padding: 10px;
    margin: auto;
    background-color: #ffe6f0;
}

/* Attribute Selector */
input[type="submit"] {
    width: 120px;
    margin: auto;
    background-color: #fff3f9;
    border-color: #ffb5d3;
}

/* Media Queries */

@media (max-width: 400px) {

    body {
        font-size: x-small;
    }
    
    header {
        height: 10vh;
        font-size: x-small;
    }

    nav {
        height: 5vh;
        font-size: x-small;
    }

    img {
        width: 35vw;
    }

    .post-area {
        padding: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: x-small;
    }

    .figure {
        margin: auto;
        float: none;
        width: 35vw;
    }

    .post {
        background-color: aqua;
    }
    
}